[Unit]
Description=Manage the snapd services from the snapd snap
RequiresMountFor=/run

[Service]
ExecStart=/usr/lib/core18/run-snapd-from-snap start
Type=oneshot
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
