language: python
os: linux
dist: trusty
sudo: enabled
script:
  - sudo apt-get update
  - sudo apt-get install --yes --no-install-recommends snapd
  - sudo snap install --classic snapcraft
  - sudo snapcraft
  - make test
