ACTION!="add", GOTO="rtc-sys-end"
SUBSYSTEM!="rtc", GOTO="rtc-sys-end"
KERNEL!="rtc*", GOTO="rtc-sys-end"

# When device rtc* is added
#     1) and the RTC module have successfully set system time from RTC (indicated with hctosys attribute)
#     2) and the kernel command line does not contain parameter ubuntu_core.rtc_sys_time_init that will cause
#        systemd generator rtc-sys-time-init-generator to instantiate rtc-sys-time-init@.service
# instantiate rtc-sys-time-init@.service for the device node
IMPORT{cmdline}=="ubuntu_core.rtc_sys_time_init"
ATTR{hctosys}=="1", ENV{ubuntu_core.rtc_sys_time_init}!="?*", ENV{SYSTEMD_WANTS}+="rtc-sys-time-init@.service"

# When device rtc* is added create device unit dev-rtc*.device which is used by rtc-sys-time-init@.service
# enabled by generator rtc-sys-time-init-generator when kernel command line contains parameter
# ubuntu_core.rtc_sys_time_init=/dev/rtc*
TAG+="systemd"

LABEL="rtc-sys-end"
