[Unit]
Description=Wait until snapd is fully seeded
After=core.start-snapd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snap wait system seed.loaded
RemainAfterExit=true

[Install]
WantedBy=multi-user.target cloud-final.service
